[submodule "janeway"]
	path = janeway
	url = https://github.com/BirkbeckCTP/janeway.git
[submodule "plugins/typesetting"]
	path = plugins/typesetting
	url = https://github.com/openlibhums/typesetting.git
[submodule "plugins/pandoc_plugin"]
	path = plugins/pandoc_plugin
	url = https://github.com/openlibhums/pandoc_plugin.git
[submodule "plugins/customstyling"]
	path = plugins/customstyling
	url = https://github.com/openlibhums/customstyling.git
[submodule "plugins/portico"]
	path = plugins/portico
	url = https://github.com/openlibhums/portico.git
[submodule "plugins/imports"]
	path = plugins/imports
	url = https://github.com/openlibhums/imports.git
[submodule "plugins/doaj_transporter"]
	path = plugins/doaj_transporter
	url = https://github.com/openlibhums/doaj_transporter.git
[submodule "plugins/back_content"]
	path = plugins/back_content
	url = https://github.com/openlibhums/back_content.git
